* {
font-family: "monaco", monospace;
}

.recipe {
    color: #ff4500;
    background-color: #deb887;
    font-size: 22px;
    font-weight: 400;
    border-style: inset;
}

h1 {
    color: #8a2be2;
    font-size: 40px;
    font-weight: 600;
}

img {
    height: 300px;
    width: auto;
}