* {
font-family: "monaco", monospace;
}

a {
    color: #ff4500;
    background-color: #deb887;
    font-weight: 400;
    border-style: inset;
}

.recipe {
    font-size: 22px;
}

.header {
    color: #8a2be2;
    font-weight: 600;
}

h1 {
    font-size: 40px;
}

img {
    height: 300px;
    width: auto;
}

p, 
ul, 
ol {
    background-color: #deb887;
}

.home-link {
    font-size: 15px;
}