* {
font-family: "monaco", monospace;
}

a {
    font-weight: 400;
    display: block;
    }

.recipe {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: #ff4500;
    background-color: #deb887;
    border-style: inset;
    border-color: #ff4500;
}

.header {
    color: #8a2be2;
    font-weight: 600;
    text-align: center;
}

h1 {
    font-size: 40px;
}

.home-img {
    height: 300px;
    width: auto;
    display: inline-block;
    margin: auto;
    margin-right: 10px;
    float: left;
}

.recipe-img {
    height: 300px;
    width: auto;
    display: block;
    margin: auto;
}

.home-link {
    font-size: 15px;
    color: #ff4500;
    background-color: #deb887;
    border-style: inset;
    border-color: #ff4500;
    display: inline-block;
}

.listed-recipes {
    list-style-type: none;
    padding: 5px 0;
}

li {
    display: block;
    margin: auto;
}

.recipe-info {
    background-color: #deb887;
}

.description {
    display: inline-block;
}